@charset "utf-8";
@import "https://fonts.googleapis.com/css?family=Noto+Serif";

div#parceiros aside {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 650px;
    text-align: left;
    padding: 20px;
    margin: 150px auto;
    border-radius: 10px;
}

div#parceiros ul li {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 18px;
    list-style-type: none;
}

div#parceiros figure img {
    width: 100%; 
    border-radius: 10px;
    max-width: 650px; 
    box-shadow: 1px 1px 4px black;
    margin-top: 20px; 
    margin-bottom: 20px; 
}


div#parceiros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

div#parceiros figure img{
    width: 100%; 
    border-radius: 10px;
    max-width: 650px; 
    box-shadow: 1px 1px 4px black;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

div#parceiros a img{
    width: 25px;
}





